.post_heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.post-second-heading {
  width: 100vw;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
}

.post-user-name {
  text-align: center;
}

.post__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
  margin-bottom: 16px;
}

.delete-btn {
  color: red!important;
  text-decoration: none;
}

.edit-btn {
  color: black;
  text-decoration: none;
}

.detail-favorite {
  display: flex;
  justify-content: center;
}

.post__image {
  width: 50%;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.post-box-img {
  width: 100%;
}

.post-explain-box {
  width: 50%;
  margin: 0 auto;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-post {
  width: 20%;
  background-color: ivory;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.comment-box {
  width: 100%;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-submit {
  margin-bottom: 2vh;
}

.comment-contents {
  text-align: left;
  border-bottom: lightgray 1px solid;
  margin: 0 5px 5px;
}